<div class="{{ theme }}"> <!-- theme container -->

    <button class="num-key" (click)="cc.onNumberInput(7)">7</button>
    <button class="num-key" (click)="cc.onNumberInput(8)">8</button>
    <button class="num-key" (click)="cc.onNumberInput(9)">9</button>
    <button class="del-key" (click)="cc.onDelInput()">del</button>

    <button class="num-key" (click)="cc.onNumberInput(4)">4</button>
    <button class="num-key" (click)="cc.onNumberInput(5)">5</button>
    <button class="num-key" (click)="cc.onNumberInput(6)">6</button>
    <button class="num-key" (click)="cc.onOperatorInput(Operation.Add)">+</button>

    <button class="num-key" (click)="cc.onNumberInput(1)">1</button>
    <button class="num-key" (click)="cc.onNumberInput(2)">2</button>
    <button class="num-key" (click)="cc.onNumberInput(3)">3</button>
    <button class="num-key" (click)="cc.onOperatorInput(Operation.Subtract)">-</button>

    <button class="num-key" (click)="cc.onPointInput()">.</button>
    <button class="num-key" (click)="cc.onNumberInput(0)">0</button>
    <button class="num-key" (click)="cc.onOperatorInput(Operation.Divide)">/</button>
    <button class="num-key" (click)="cc.onOperatorInput(Operation.Multiply)">×</button>

    <button class="reset-key" (click)="cc.onResetInput()">reset</button>
    <button class="equals-key" (click)="cc.onEqualsInput()">=</button>

</div>