@use '/src/scss/breakpoints.scss' as b;

/* grid */
:host > div
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    @include b.mobile  { gap: 0.8rem; }
    @include b.desktop { gap: 1.6rem; }
}
.reset-key, .equals-key 
{
    grid-column: span 2;
}

/* styling */
:host
{
    @include b.mobile  { padding: 1.5rem; }
    @include b.desktop { padding: 2rem; }

    border-radius: 0.6rem;
}
.num-key, .del-key, .reset-key, .equals-key
{
    border: none;
    padding: 1rem 0;
    @include b.mobile  { border-radius: 0.3rem; }
    @include b.desktop { border-radius: 0.6rem; }
}

/* typography */
button
{
    text-transform: uppercase;
    line-height: 1;
    @include b.mobile { font-size: 32px; }
    @include b.desktop { font-size: 40px; }
}
.del-key, .reset-key
{
    @include b.mobile { font-size: 18px; }
    @include b.desktop { font-size: 28px }
}