<div class="{{ theme }}"> <!-- theme container -->

    <button class="num-key">7</button>
    <button class="num-key">8</button>
    <button class="num-key">9</button>
    <button class="del-key">del</button>

    <button class="num-key">4</button>
    <button class="num-key">5</button>
    <button class="num-key">6</button>
    <button class="num-key">+</button>

    <button class="num-key">1</button>
    <button class="num-key">2</button>
    <button class="num-key">3</button>
    <button class="num-key">-</button>

    <button class="num-key">.</button>
    <button class="num-key">0</button>
    <button class="num-key">/</button>
    <button class="num-key">×</button>

    <button class="reset-key">reset</button>
    <button class="equals-key">=</button>

</div>