@use '/src/scss/breakpoints.scss' as b;

:host
{
    border-radius: 0.6rem;
    text-align: right;
    @include b.mobile { padding: 0.8rem 1rem; }
    @include b.desktop { padding: 1.5rem 2rem; }
}

h1
{
    margin: 0;
    overflow: hidden;
    
    @include b.mobile {
        font-size: 40px;
        margin-top: 8px;
        }
    @include b.desktop {
        font-size: 58px;
        margin-top: 10px;
        }
}