@use '/src/scss/themes.scss' as *;


input[type=range]
{
    -webkit-appearance: none;
    @include dynamic-colors( "complementary", "" );

    &::-webkit-slider-thumb {
        @include dynamic-colors( "primary", "" );
        border: none;
        }
    &::-moz-range-thumb {
        @include dynamic-colors( "primary", "" );
        border: none;
        }
    &::-ms-thumb {
        @include dynamic-colors( "primary", "" );
        border: none;
        }
}
