
/* grid */
:host > * {
    display: grid;
    grid-template-columns: 6rem 4rem;
    grid-auto-rows: 1.2rem 1.5rem;
    row-gap: 0;
    column-gap: 0;
    }
.switch-label {
    grid-column: 1;
    grid-row: 2;
    }
.labels {
    grid-column: 2;
    grid-row: 1;
    }
input {
    grid-column: 2;
    grid-row: 2;
    }

    
.switch-label
{
    text-align: center;
    display: flex;
    align-content: center;
    & * { margin: auto; }
}

input[type=range]
{
    margin: 0;
    border-radius: 99px;
    padding: 10%;
}

.labels
{
    margin: 0 4px;
    display: flex;
    flex-flow: row;
}
.label
{
    text-align: center;
    display: block;
    flex-grow: 1;
    flex-basis: 0;
}

/* typography */
.switch-label
{
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.label
{
    font-size: 14px;
}