@use '/src/scss/colors.scss' as c;

input[type=range]
{
    -webkit-appearance: none;
    @include c.dynamic-colors( "complementary" );

    &::-webkit-slider-thumb
    {
        @include c.dynamic-colors( "primary" );
        border: none;
    }
    &::-moz-range-thumb
    {
        @include c.dynamic-colors( "primary" );
        border: none;
    }
    &::-ms-thumb
    {
        @include c.dynamic-colors( "primary" );
        border: none;
    }
}