@use '/src/scss/breakpoints.scss' as b;


/* filling whole screen */
main, .main-container
{
    width: 100%;
    min-height: 100vh;
}

/* centering */
.main-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

/* floating at the bottom */
main
{
    display: block;
    position: relative;
}
.attribution
{
    text-align: center;

    @include b.mobile
    {
        margin-top: 1.2rem;
        font-size: 14px;
        position: relative;
    }
    @include b.desktop
    {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        margin-bottom: 2rem;
    }
}

/* the main column */
h1 { margin: 0; margin-left: 0.5rem; margin-top: 12px; }
.main-content
{
    display: flex;
    flex-flow: column;
    @include b.mobile  { width: 87%; }
    @include b.desktop { width: 34rem; }

    & > *:nth-child(1)
    {
        @include b.mobile  { margin-bottom: 1rem; }
        @include b.desktop { margin-bottom: 1.5rem; }
    }
    & > *:nth-child(2)
    {
        @include b.mobile  { margin-bottom: 1.2rem; }
        @include b.desktop { margin-bottom: 1rem; }
    }
}

/* top most row */
.main-content > *:nth-child(1)
{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}