@use '/src/scss/breakpoints.scss' as b;


/* filling whole screen */
main, .main-container
{
    width: 100%;
    min-height: 100vh;
}

/* centering */
.main-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* floating at the bottom */
main
{
    display: block;
    position: relative;
}
.attribution
{
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    text-align: center;

    @include b.mobile   { margin-bottom: 2rem; }
    @include b.desktop  { margin-bottom: 2rem; }
}


.main-content
{
    display: flex;
    flex-flow: column;
    @include b.mobile { width: 20rem; }
    @include b.desktop { width: 20rem; }

    & > *:first-child
    {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }
}