@use '/src/scss/colors.scss' as c;

@include c.themed
{
    .main-container {
        background-color: c.$background;
        color: c.$on-background;
        }

    .attribution a {
        color: c.$primary;
        }

    button {
        background-color: c.$key;
        color: c.$on-key;
        }
}