<main class="{{themeController.dynamicTheme}}"> <!-- theme container -->
<div class="main-container"> <!-- theme background -->

    <div class="main-content">

        <div>
            <h1>calc</h1>
            <theme-switch
                [theme]="themeController.dynamicTheme"
                [switchValueChange]="themeController.toggleTheme"
                ></theme-switch>
        </div>

        <screen
            [theme]="themeController.dynamicTheme"
            [value]="calculationController.screenDisplay.value"
            ></screen>
        <keyboard
            [theme]="themeController.dynamicTheme"
            [cc]="calculationController"
            ></keyboard>

    </div>

    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://www.frontendmentor.io/profile/Fobya7" target="_blank">Fobya7</a>.
    </div>

</div>
</main>