<main class="{{themeController.theme}}"> <!-- theme container -->
<div class="main-container"> <!-- theme background -->

    <div class="main-content">

        <div>
            <h1>calc</h1>
            <switch
                [theme]="themeController.theme"
                [onSwitchValueChange]="themeController.toggleTheme"
                ></switch>
        </div>

        <screen
            [theme]="themeController.theme"
            [value]="calculationController.screenDisplay"
            ></screen>
        <keyboard
            [theme]="themeController.theme"
            [calculationController]="calculationController"
            ></keyboard>

    </div>

    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://www.frontendmentor.io/profile/Fobya7" target="_blank">Fobya7</a>.
    </div>

</div>
</main>