@use '/src/scss/breakpoints.scss';
@use '/src/scss/colors.scss';


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:host
{
    display: block;
}

#theme-holder
{
    height: 20rem;
    width: 20rem;
}

@include colors.themed
{
    button
    {
        background-color: colors.$background;
    }
}
