@use 'sass:map';
@use 'sass:list';

@use './color-maps.scss' as *;

@mixin dynamic-colors( $color-name )
{
    @each $theme-name, $theme-colors in $themes
    {
        // background that changes with theme
        .#{$theme-name} & {
            background-color: map-get( $theme-colors, $color-name, "b" );
            color: map-get( $theme-colors, $color-name, "on" );
            }

        // animation of background change
        @each $inner-theme-name, $inner-theme-colors in $themes {
            .prev-#{$inner-theme-name}.#{$theme-name} &
            {
                @keyframes anim-#{$inner-theme-name}-#{$theme-name}-for-#{$color-name} {
                    from {
                        background-color: map-get( $inner-theme-colors, $color-name, "b" );
                        color: map-get( $inner-theme-colors, $color-name, "on" );
                        }
                    to {
                        background-color: map-get( $theme-colors, $color-name, "b" );
                        color: map-get( $theme-colors, $color-name, "on" );
                        }
                    }
                animation: anim-#{$inner-theme-name}-#{$theme-name}-for-#{$color-name};
                animation-duration: 1s;
            } }
    }
}













/// 
/// Scope with access to color variables.
/// Depentand on parent class.
/// 
/// @example markup
///     <div class="light"> // parent, theme container
///         <button>
///     <div>
/// 
/// @example scss
///     @include colors.themed {
///         button {
///             background-color: colors.$background;
///             }
///         }
/// 
@mixin themed
{
    .default, .default *
    {
        $background:        hsl(222, 26%, 31%)  !global;
        $on-background:     white               !global;
        $screen:            hsl(224, 36%, 15%)  !global;
        $on-screen:         white               !global;
        $complementary:     hsl(223, 31%, 20%)  !global;

        $primary:           hsl(6, 63%, 50%)    !global;
        $primary-shadow:    hsl(6, 70%, 34%)    !global;
        $on-primary:        white               !global;
        $secondary:         hsl(225, 21%, 49%)  !global;
        $secondary-shadow:  hsl(224, 28%, 35%)  !global;
        $on-secondary:      white               !global;
        $key:               hsl(30, 25%, 89%)   !global;
        $key-shadow:        hsl(28, 16%, 65%)   !global;
        $on-key:            hsl(221, 14%, 31%)  !global;

        @content;
    }
    .light, .light *
    {
        $background:        hsl(0, 0%, 90%)     !global;
        $on-background:     hsl(60, 10%, 19%)   !global;
        $screen:            hsl(0, 0%, 93%)     !global;
        $on-screen:         hsl(60, 10%, 19%)   !global;
        $complementary:     hsl(0, 5%, 81%)     !global;

        $primary:           hsl(25, 98%, 40%)   !global;
        $primary-shadow:    hsl(25, 99%, 27%)   !global;
        $on-primary:        white               !global;
        $secondary:         hsl(185, 42%, 37%)  !global;
        $secondary-shadow:  hsl(185, 58%, 25%)  !global;
        $on-secondary:      white               !global;
        $key:               hsl(45, 7%, 89%)    !global;
        $key-shadow:        hsl(35, 11%, 61%)   !global;
        $on-key:            hsl(60, 10%, 19%)   !global;
        
        @content;
    }
    .dark, .dark *
    {
        $background:        hsl(268, 75%, 9%)   !global;
        $on-background:     hsl(52, 100%, 62%)  !global;
        $screen:            hsl(268, 71%, 12%)  !global;
        $on-screen:         hsl(52, 100%, 62%)  !global;
        $complementary:     hsl(268, 71%, 12%)  !global;

        $primary:           hsl(176, 100%, 44%) !global;
        $primary-shadow:    hsl(177, 92%, 70%)  !global;
        $on-primary:        white               !global;
        $secondary:         hsl(281, 89%, 26%)  !global;
        $secondary-shadow:  hsl(285, 91%, 52%)  !global;
        $on-secondary:      white               !global;
        $key:               hsl(268, 47%, 21%)  !global;
        $key-shadow:        hsl(290, 70%, 36%)  !global;
        $on-key:            hsl(52, 100%, 62%)  !global;
        
        @content;
    }
}