
/* themes map (with string names) at the bottom */

$default:
(
    "background": (
        "b" : hsl(222, 26%, 31%),
        "on": white
        ),
    "screen": (
        "b" : hsl(224, 36%, 15%),
        "on": white
        ),
    "complementary": (
        "b" : hsl(223, 31%, 20%),
        "on": white
        ),
    
    "primary": (
        "b" : hsl(6, 63%, 50%),
        "on": white,
        ),
    "secondary": (
        "b" : hsl(225, 21%, 49%),
        "on": white,
        ),
    "key": (
        "b" : hsl(30, 25%, 89%),
        "on": hsl(221, 14%, 31%),
        )
);

$light:
(
    "background": (
        "b" : hsl(0, 0%, 90%),
        "on": hsl(60, 10%, 19%)
        ),
    "screen": (
        "b" : hsl(0, 0%, 93%),
        "on": hsl(60, 10%, 19%)
        ),
    "complementary": (
        "b" : hsl(0, 5%, 81%),
        "on": hsl(60, 10%, 19%)
        ),

    "primary": (
        "b" : hsl(25, 98%, 40%),
        "on": white
        ),
    "secondary": (
        "b" : hsl(185, 42%, 37%),
        "on": white
        ),
    "key": (
        "b" : hsl(45, 7%, 89%),
        "on": hsl(60, 10%, 19%)
        )
);

$dark:
(
    "background": (
        "b" : hsl(268, 75%, 9%),
        "on": hsl(52, 100%, 62%)
        ),
    "screen": (
        "b" : hsl(268, 71%, 12%),
        "on": hsl(52, 100%, 62%)
        ),
    "complementary": (
        "b" : hsl(268, 71%, 12%),
        "on": hsl(52, 100%, 62%)
        ),

    "primary": (
        "b" : hsl(176, 100%, 44%),
        "on": white
        ),
    "secondary": (
        "b" : hsl(281, 89%, 26%),
        "on": white
        ),
    "key": (
        "b" : hsl(268, 47%, 21%),
        "on": hsl(52, 100%, 62%)
        )
);

$themes:
(
    "default": $default,
    "light": $light,
    "dark": $dark
);