
/* themes map (with string names) at the bottom */

$default:
(
    "background": hsl(222, 26%, 31%),
        "on-background": white,
    "screen": hsl(224, 36%, 15%),
        "on-screen": white,
    "complementary": hsl(223, 31%, 20%),
        "on-complementary": white,
    
    "primary": hsl(6, 63%, 50%),
        "primary-shadow": hsl(6, 70%, 34%),
        "on-primary": white,
    "secondary": hsl(225, 21%, 49%),
        "secondary-shadow": hsl(224, 28%, 35%),
        "on-secondary": white,
    "key": hsl(30, 25%, 89%),
        "key-shadow": hsl(28, 16%, 65%),
        "on-key": hsl(221, 14%, 31%)
);

$light:
(
    "background": hsl(0, 0%, 90%),
        "on-background": hsl(60, 10%, 19%),
    "screen": hsl(0, 0%, 93%),
        "on-screen": hsl(60, 10%, 19%),
    "complementary": hsl(0, 5%, 81%),
        "on-complementary": hsl(60, 10%, 19%),

    "primary": hsl(25, 98%, 40%),
        "primary-shadow": hsl(25, 99%, 27%),
        "on-primary": white,
    "secondary": hsl(185, 42%, 37%),
        "secondary-shadow": hsl(185, 58%, 25%),
        "on-secondary": white,
    "key": hsl(45, 7%, 89%),
        "key-shadow": hsl(35, 11%, 61%),
        "on-key": hsl(60, 10%, 19%)
);

$dark:
(
    "background": hsl(268, 75%, 9%),
        "on-background": hsl(52, 100%, 62%),
    "screen": hsl(268, 71%, 12%),
        "on-screen": hsl(52, 100%, 62%),
    "complementary": hsl(268, 71%, 12%),
        "on-complementary": hsl(52, 100%, 62%),

    "primary": hsl(176, 100%, 44%),
        "primary-shadow": hsl(177, 92%, 70%),
        "on-primary": white,
    "secondary": hsl(281, 89%, 26%),
        "secondary-shadow": hsl(285, 91%, 52%),
        "on-secondary": white,
    "key": hsl(268, 47%, 21%),
        "key-shadow": hsl(290, 70%, 36%),
        "on-key": hsl(52, 100%, 62%)
);

$themes:
(
    "default": $default,
    "light": $light,
    "dark": $dark
);